In [1]:
from IPython.core.display import display, HTML
display(HTML("""<style> .container {width:96% !important;}</style>"""))

from IPython.display import IFrame

In [2]:
import pandas as pd
import numpy as np
# from plotly.offline import init_notebook_mode, iplot
# import cufflinks as cf
# init_notebook_mode()
# cf.go_offline()
from __future__ import division

In [7]:
!ls additional_data
path = 'additional_data/'

nat03_04.csv
nat05_06.csv
nat07_08.csv
t0001-10.1080%2F10691898.2018.1434342.csv
t0002-10.1080%2F10691898.2018.1434342.csv
t0003-10.1080%2F10691898.2018.1434342.csv
t0004-10.1080%2F10691898.2018.1434342.csv
t0005-10.1080%2F10691898.2018.1434342.csv
t0006-10.1080%2F10691898.2018.1434342.csv
t0007-10.1080%2F10691898.2018.1434342.csv
t0008-10.1080%2F10691898.2018.1434342.csv
t0009-10.1080%2F10691898.2018.1434342.csv
t0010-10.1080%2F10691898.2018.1434342.csv
t0011-10.1080%2F10691898.2018.1434342.csv
t0012-10.1080%2F10691898.2018.1434342.csv
t0013-10.1080%2F10691898.2018.1434342.csv

In [58]:
nat34 = pd.read_csv(path + 'nat03_04.csv')
nat56 = pd.read_csv(path + 'nat05_06.csv')
nat78 = pd.read_csv(path + 'nat07_08.csv')

In [59]:
print nat34.shape
print nat56.shape
print nat78.shape

(126483, 27)
(153565, 27)
(111416, 27)

In [11]:
nat34.head().T

,0,1,2,3,4
LoanNr_ChkDgt,1005255000,1005265003,1005275006,1005285009,1005295001
Name,Clark's Inc.,James Byung Ho Park dba Parago,Danny W. Temple and Beau M. Te,"J & V Enterprises, LLC",Susana Chung dba Law Offices o
City,VISTA,DOWNEY,MONTE VISTA,COLORADO SPRINGS,LOS ANGELES
State,CA,CA,CO,CO,CA
Zip,92084,90242,81144,80906,90010
Bank,CALIFORNIA BANK & TRUST,CALIFORNIA BANK & TRUST,CALIFORNIA BANK & TRUST,CALIFORNIA BANK & TRUST,CALIFORNIA BANK & TRUST
BankState,CA,CA,CA,CA,CA
NAICS,442210,422990,561730,722211,541110
ApprovalDate,6-Nov-02,6-Nov-02,6-Nov-02,10-Dec-02,10-Dec-02
ApprovalFY,2003,2003,2003,2003,2003
Term,2,83,36,36,36
NoEmp,2,10,2,30,8
NewExist,1,1,1,1,1
CreateJob,0,0,0,0,0
RetainedJob,0,0,0,0,0
FranchiseCode,1,1,1,1,1
UrbanRural,0,0,2,1,0
RevLineCr,Y,N,Y,Y,Y
LowDoc,N,N,N,N,N
ChgOffDate,29-Mar-06,NaN,NaN,NaN,NaN
DisbursementDate,30-Nov-02,30-Nov-02,31-Dec-02,31-Dec-02,31-Dec-02
DisbursementGross,"$40,000.00","$100,000.00","$25,000.00","$64,263.00","$50,000.00"
BalanceGross,$0.00,$0.00,$0.00,$0.00,$0.00
MIS_Status,CHGOFF,P I F,P I F,P I F,P I F
ChgOffPrinGr,"$40,000.00",$0.00,$0.00,$0.00,$0.00
GrAppv,"$40,000.00","$100,000.00","$25,000.00","$50,000.00","$50,000.00"
SBA_Appv,"$20,000.00","$50,000.00","$12,500.00","$25,000.00","$25,000.00"

Variable Name   

LoanNr_ChkDgt:    Identifier – Primary Key
Name:    Borrower Name
City:    Borrower City
State:    Borrower State
Zip:    Borrower Zip Code
Bank:    Bank Name
BankState:    Bank State
NAICS:    North American Industry Classification System code
ApprovalDate:    Date SBA Commitment Issued
ApprovalFY:    Fiscal Year of Commitment
Term:    Loan term in months
NoEmp:    Number of Business Employees
NewExist:    1 = Existing Business, 2 = New Business
CreateJob:    Number of jobs created
RetainedJob:    Number of jobs retained
FranchiseCode:    Franchise Code 00000 or 00001 = No Franchise
UrbanRural:    1= Urban, 2= Rural, 0 = Undefined
RevLineCr:    Revolving Line of Credit : Y = Yes
LowDoc:    LowDoc Loan Program: Y = Yes, N = No
ChgOffDate:    The date when a loan is declared to be in default
DisbursementDate:    Disbursement Date
DisbursementGross:    Amount Disbursed
BalanceGross:    Gross amount outstanding
MIS_Status:    Loan Status
ChgOffPrinGr:    Charged-off Amount
GrAppv:    Gross Amount of Loan Approved by Bank
SBA_Appv:    SBA’s Guaranteed Amount of Approved Loan

In [29]:
# Default if MIS_status = CHGOFF, else MIS_status = PIF

print nat34.MIS_Status.value_counts()

print 'Default rate =', (nat34.MIS_Status == 'CHGOFF').sum() / len(nat34)

P I F     105464
CHGOFF     20731
Name: MIS_Status, dtype: int64
Default rate = 0.163903449475

In [60]:
print (nat34.MIS_Status == 'CHGOFF').sum() / len(nat34)
print (nat56.MIS_Status == 'CHGOFF').sum() / len(nat56)
print (nat78.MIS_Status == 'CHGOFF').sum() / len(nat78)

0.163903449475
0.299521375313
0.421016730093

In [14]:
nat34.BalanceGross.value_counts()

$0.00     126483
Name: BalanceGross, dtype: int64

# EDA on features

In [19]:
nat34.State.value_counts().head()

CA    20382
TX     9920
FL     7956
PA     7941
NY     6566
Name: State, dtype: int64

In [32]:
nat34.City.value_counts().head()

LOS ANGELES    2664
NEW YORK       1529
HOUSTON        1507
MIAMI          1288
DALLAS          769
Name: City, dtype: int64

In [33]:
nat34.Zip.value_counts().head()

90015    245
90010    163
90021    142
33166    136
90014    118
Name: Zip, dtype: int64

In [31]:
nat34.UrbanRural.value_counts()

1    98286
2    24022
0     4175
Name: UrbanRural, dtype: int64

In [35]:
nat34.Bank.value_counts().head()

BANK OF AMERICA NATL ASSOC     21192
CITIZENS BANK NATL ASSOC        9893
WELLS FARGO BANK NATL ASSOC     6566
CAPITAL ONE NATL ASSOC          6395
BBCN BANK                       5492
Name: Bank, dtype: int64

In [36]:
nat34.NAICS.value_counts().head()

722110    5918
722211    5396
811111    2391
812112    2126
447110    1858
Name: NAICS, dtype: int64

In [39]:
nat34['ApprovalDate'] = pd.to_datetime(nat34.ApprovalDate)

In [42]:
nat34.ApprovalDate.dt.month.value_counts()

9     12447
6     11766
3     11563
8     11455
7     11427
4     11392
5     11331
12     9733
10     9568
11     8801
2      8524
1      8476
Name: ApprovalDate, dtype: int64

In [37]:
nat34.ApprovalFY.value_counts().head()

2004    68290
2003    58193
Name: ApprovalFY, dtype: int64

In [43]:
nat34.NoEmp.value_counts().head()

1    25723
2    22167
3    13999
4    10661
5     8545
Name: NoEmp, dtype: int64

In [44]:
nat34.NewExist.value_counts()

1.0    98731
2.0    27486
0.0      266
Name: NewExist, dtype: int64

In [57]:
nat34[nat34.MIS_Status == 'CHGOFF'].sample(10).T

,90765,33507,26318,50548,22774,38196,67853,21538,40082,76710
LoanNr_ChkDgt,7258494001,6246134007,6144054006,6516844009,6079904004,6310574005,6838604010,6056924007,6338384009,7028674001
Name,RYTEWAY KLEANERS INC.,THE BENTLEY GROUP INC,INSTYLE,MOORESVILLE SUBWAY #7676,COMFORT AIR HEATING AND AC INC,JUAN MORALES,NELSON'S MOBILE APPEARANCE REC,"LASST CONSTRUCTION CO, INC",CAPITOL SIGNS INC,CROSSROADS CULVERT INC
City,HAMBURG,BOYNTON BEACH,WESTMINSTER,MOORESVILLE,MACOMB,AMERICAN FORK,GARLAND,VANCOUVER,WASHINGTON,LAWRENCEBURG
State,NY,FL,CA,IN,MI,UT,TX,WA,DC,TN
Zip,14075,33426,92683,46258,48044,84003,75043,98684,20001,38464
Bank,HSBC BK USA NATL ASSOC,BANK OF AMERICA NATL ASSOC,BANK OF AMERICA NATL ASSOC,WELLS FARGO BANK NATL ASSOC,WELLS FARGO BANK NATL ASSOC,U.S. BANK NATIONAL ASSOCIATION,JPMORGAN CHASE BANK NATL ASSOC,WELLS FARGO BANK NATL ASSOC,BBCN BANK,BANK OF AMERICA NATL ASSOC
BankState,VA,NC,NC,SD,SD,OH,IL,SD,CA,NC
NAICS,812320,561310,448120,722211,238220,441110,811121,238990,314999,333516
ApprovalDate,2004-03-11 00:00:00,2003-04-14 00:00:00,2003-03-04 00:00:00,2003-07-22 00:00:00,2003-02-06 00:00:00,2003-05-12 00:00:00,2003-10-24 00:00:00,2003-01-29 00:00:00,2003-05-21 00:00:00,2003-12-12 00:00:00
ApprovalFY,2004,2003,2003,2003,2003,2003,2004,2003,2003,2004
Term,7,42,46,32,0,62,41,6,29,52
NoEmp,13,7,2,1,5,4,1,4,2,2
NewExist,1,1,1,1,1,1,1,1,1,1
CreateJob,0,0,0,0,0,1,1,0,2,2
RetainedJob,0,7,2,1,5,5,1,4,2,2
FranchiseCode,1,1,1,78760,1,1,1,1,1,1
UrbanRural,1,1,1,2,2,2,1,1,0,2
RevLineCr,N,Y,T,0,Y,Y,0,Y,0,N
LowDoc,N,N,N,N,N,N,N,N,N,N
ChgOffDate,9-Nov-10,8-Jan-07,14-Jun-06,7-Jan-11,29-Aug-07,27-Jun-05,30-Aug-05,1-Jul-10,2-Jul-13,2-Oct-06
DisbursementDate,31-May-04,31-May-03,31-Mar-03,31-Aug-03,30-Apr-03,31-May-03,31-Oct-03,30-Apr-04,31-May-03,31-Dec-03
DisbursementGross,"$200,000.00","$50,000.00","$5,855.00","$280,000.00","$17,000.00","$25,000.00","$45,000.00","$50,117.00","$10,000.00","$50,000.00"
BalanceGross,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
MIS_Status,CHGOFF,CHGOFF,CHGOFF,CHGOFF,CHGOFF,CHGOFF,CHGOFF,CHGOFF,CHGOFF,CHGOFF
ChgOffPrinGr,"$93,874.00","$12,383.00","$5,855.00","$70,387.00","$12,513.00","$25,000.00","$38,086.00","$50,000.00","$5,519.00","$44,833.00"
GrAppv,200000,50000,10000,280000,20000,25000,45000,50000,10000,50000
SBA_Appv,150000,25000,5000,210000,10000,12500,22500,25000,8500,25000
SBA_ratio,0.75,0.5,0.5,0.75,0.5,0.5,0.5,0.5,0.85,0.5

In [52]:
def to_float(x):
    x = x.replace('$', '')
    x = x.replace(',', '')
    x = float(x)
    return x

nat34['GrAppv'] = nat34['GrAppv'].apply(to_float)
nat34['SBA_Appv'] = nat34['SBA_Appv'].apply(to_float)

nat34['SBA_ratio'] = nat34['SBA_Appv'] / nat34['GrAppv']

In [55]:
nat34['SBA_ratio'].value_counts().head()

0.50    66341
0.85    27140
0.75    24146
1.00     7059
0.90      301
Name: SBA_ratio, dtype: int64